* {
  box-sizing: border-box;
}

body {
  color: #222;
}

header a {
  text-decoration: none;
}

header a.logo {
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 100px;
  color: black;
}

header nav {
  display: flex;
  gap: 15px;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

header nav {
  margin-right: 100px;
  font-weight: bold;
  gap: 2px;
}

.input {
  border-radius: 5px;
  max-width: fit-content;
}

header nav a {
  color: black;
}
